.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Cambiar el color de fondo a un tono pastel de verde */
  body {
    background-color: #d8f3dc;
  }
  
  /* Cambiar el color del botón a un tono pastel de verde */
  .btn-primary {
    background-color: #ade498;
    border-color: #ade498;
  }
  
  .personal-data {
    background-color: #c1edd8;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .col-md-4 {
      order: 2;
    }
    .col-md-8 {
      order: 1;
    }
  }
  
  .card {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  .neon-border::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #00ff00;
    transform: rotate(45deg);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .neon-border:hover::after {
    opacity: 1;
  }
  
  .neon-border {
    position: relative;
    overflow: hidden;
  }
  
  .neon-border::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(45deg, #00ff00, #ff00ff, #00ff00, #ff00ff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }